body{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
#contenido{
	width: 800px;
	margin: 0 auto;
	border-right: solid;
	border-left: solid;
	border-width: 1px;
	/*background-color: #333;*/
	height: 300px;
}